<div class="dashboard-container">
  <mat-card>
    <mat-card-header> My Dashboard</mat-card-header>
  </mat-card>
  <mat-card-content>
    <p>{{ user.currentBalance }}</p>
    <p>Current Balance :</p>
    <p>Recent Transactions:</p>
    <mat-list>
      <mat-list-item>
        @for(transaction of transactions ; track $index){
        <span
          >{{ transaction.date | date }} - {{ transaction.description }}:
          {{ transaction.amount | currency }}</span
        >
        }
      </mat-list-item>
    </mat-list>
    <p>Savings Goals:</p>
    <mat-list>
      <mat-list-item
        >@for( goal of savingsGoals; track goal){
        <span
          >{{ goal.name }} - {{ goal.amountGoal | currency }} by
          {{ goal.targetDate | date }}</span
        >
        }
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</div>
