<form formGroup="" (ngSubmit)="login()" class="login-form">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      placeholder="Enter Email"
      formControlName="mail-id"
    />
    <!-- @if(mail-id?.touched && poster?.hasError('required') ){
      <mat-error>Poster URL is <strong>required</strong></mat-error>
      } @if(poster?.touched && poster?.hasError('invalidUrl') ){
      <mat-error> <strong>Invalid </strong> URL</mat-error>
      } -->
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      placeholder="Enter Password"
      formControlName="password"
    />
    <!-- @if(mail-id?.touched && poster?.hasError('required') ){
      <mat-error>Poster URL is <strong>required</strong></mat-error>
      } @if(poster?.touched && poster?.hasError('invalidUrl') ){
      <mat-error> <strong>Invalid </strong> URL</mat-error>
      } -->
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary">Login</button>
</form>
