<header>
  <nav>
    <ul>
      <li><a href="/login">LogIn</a></li>
      <li><a href="home/register">Sign Up</a></li>
    </ul>
  </nav>
</header>

<div class="intro">
  <h1 class="intro-content">FinTrack</h1>
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF9J1yXaf7ea6TM7dGD6iVe8aM5rmqMDyCkQ&s"
    alt="Finance-management"
    style="width: 100%; max-width: 500px; height: auto"
  />

  <h2>Track, manage, and understand your money with clarity and confidence.</h2>
</div>
